<md-content class="md-padding">
  <div layout="row">
    <div flex="80" class="cv-container">
      <iframe ng-src="{{ vm.getPdf() }}" frameborder="0" height="{{ vm.getHeight() }}" class="cv-listener"></iframe>
    </div>

    <div flex="20" layout="column">
      <md-card ng-repeat="user in vm.users" ng-click="vm.selectedId(user.id)">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">
              <img ng-src="{{ user.picture }}" class="md-card-image" alt="Avatar">
            </span>
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <p> {{ user.first_name }} {{ user.last_name }}</p>
          <md-button class="md-icon-button" aria-label="Voir le profil">
            <md-icon md-font-library="material-icons">tag_faces</md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Détails du CV">
            <md-icon md-font-library="material-icons">details</md-icon>
          </md-button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</md-content>
