<md-content class="md-padding">
  <div layout="row">
    <div flex="80" layout="column">
      <md-card>
        <h2>TOTO</h2>
        <md-card-content>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus at illo vel. Beatae blanditiis cumque cupiditate deleniti doloremque inventore iste molestiae neque, non odio officia, quis ratione repellendus, velit.</p>
        </md-card-content>
      </md-card>
    </div>

    <div flex="20" layout="column">
      <md-card ng-repeat="user in [0,1,2,3,4,5,6,7,8,9]">
        <h2>{{ user.login }}</h2>
        <md-card-content>
          <p>{{ user.last_name }}</p>
        </md-card-content>
      </md-card>
    </div>
  </div>
</md-content>
