<md-dialog aria-label="Mango (Fruit)"  ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Mango (Fruit)</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">


              <h1>Angular Star Rating Directive</h1>
              <div star-directive ng-model="vm.rating1" max="10" on-rating-select="vm.rateFunction(rating)"></div>
              <star-directive ng-model="vm.rating2" readonly="vm.isReadonly"></star-directive>
              <label>
                <input type="checkbox" ng-model="vm.isReadonly"/>
                Is Readonly
              </label>
            </div>


        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
                More on Wikipedia
            </md-button>
            <span flex></span>
            <md-button ng-click="vm.answer('not useful')">
                Not Useful
            </md-button>
            <md-button ng-click="vm.answer('useful')">
                Useful
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
