<md-content id="achievements">
  <md-card>
    <md-toolbar layout="row" class="md-hue-1">
      <div class="md-toolbar-tools">
        <span>Trophées</span>
      </div>
    </md-toolbar>
    <md-content layout="row" flex>
      <md-list flex>
        <!-- Achievement -->
        <md-list-item class="md-3-line md-long-text {{ achievement.active ? 'active-trophy' : 'inactive-trophy' }}"
                      ng-repeat="achievement in vm.achievements" >
          <img ng-src="assets/{{ achievement.type }}.svg" class="md-avatar trophies" alt="achievement">
          <div class="md-list-item-text">
            <h3>{{ achievement.message }}</h3>
            <p>
              {{ achievement.points }}
              <md-icon md-font-icon="zmdi zmdi-circle"></md-icon>
            </p>
          </div>
          <md-divider></md-divider>
        </md-list-item>
        <!-- end Achievement -->
      </md-list>
    </md-content>
  </md-card>
</md-content>
