.cv-container
  position relative

.cv-listener
  position fixed

  @media all and (min-width 968px)
    min-width 75%
    max-width 75%

.rotate0 {
  transform: rotate(0deg);
}

.rotate90 {
  transform: rotate(90deg);
}

.rotate180 {
  transform: rotate(180deg);
}

.rotate270 {
  transform: rotate(270deg);
}

