.cv-container
  position relative

.cv-listener
  position fixed
  min-height calc(95vh - 60px)
  min-width 70%
  max-width 70%

  @media all and (min-width 968px)
    min-width 75%
    max-width 75%
