.logo
  width 60px
  height 60px

.text-logo
  width 170px
  height 60px

#toolbar-button
  background-color: #3ebbd2
  color: #fff
  &:hover
    background-color: #89cedf
  & md-icon
    color: #fff
