#purposes
  & .notification-checkbox
    margin: auto
  & md-toolbar.md-default-theme.md-hue-1:not(.md-menu-toolbar), md-toolbar.md-hue-1:not(.md-menu-toolbar)
    color: #fff
  & md-content md-icon
    margin: auto
    margin-right: 20px
    color: #3ebbd2
