#achievements .md-toolbar-tools span
  color: #fff
#achievements md-list-item .md-avatar, md-list-item ._md-list-item-inner .md-avatar .trophies
  width: 100px
#achievements md-list-item .md-avatar, md-list-item ._md-list-item-inner .md-avatar .trophies
  margin: 16px
#achievements md-list-item:hover
  transition: 0.5s
  background-color: #eee
#achievements .inactive-trophy
  opacity: 0.3;
