<div class="md-toolbar-tools">
    <h2 hide-sm flex>
        <span>
            <md-icon class="side-menu-icon" md-font-icon="zmdi zmdi-home"></md-icon>
            <span>Dashboard</span>
        </span>
    </h2>

    <md-menu>
        <md-button aria-label="Open user menu" ng-click="$mdOpenMenu()" aria-label="side navigation">
            Ghota
        </md-button>
        <md-menu-content width="4">
            <md-menu-item>
                <md-button ui-sref="authentication.login" aria-label="side navigation">
                    <md-icon md-font-icon="zmdi zmdi-sign-in"></md-icon>
                    <span>Logout</span>
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>