<div class="md-toolbar-tools">
  <h2 flex>
    <a ui-sref="dashboard">
      <md-icon class="logo" md-svg-src="assets/logo.svg" aria-label="logo"></md-icon>
      <md-icon class="text-logo" md-svg-src="assets/typo.svg" aria-label="Xétian"></md-icon>
    </a>
  </h2>

  <md-menu ng-if="vm.isAuthenticated()">
    <md-button title="Menu" aria-label="Open user menu" ng-click="$mdOpenMenu()" aria-label="side navigation" class="md-raised"
               id="toolbar-button">
      <md-icon md-font-icon="zmdi zmdi-face"></md-icon>
      {{ $root.currentUser.login }}
    </md-button>
    <md-menu-content width="4">
      <md-menu-item>
        <md-button ui-sref="dashboard" aria-label="side navigation">
          <md-icon md-font-icon="zmdi zmdi-home"></md-icon>
          <span>Accueil</span>
        </md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button ui-sref="profil" aria-label="side navigation">
          <md-icon md-font-icon="zmdi zmdi-account-box"></md-icon>
          <span>Profil</span>
        </md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button ui-sref="logout" aria-label="side navigation">
          <md-icon md-font-icon="zmdi zmdi-sign-in"></md-icon>
          <span>Logout</span>
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
</div>
